body,html {
    height: 100%;
}
#words>a {
    pointer-events: none;
    color: gray;
}
#words {
    max-height: 400px;
    margin-bottom: 10px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}